$primary-color : #6c63ff;
$success-color : #00bf8e;
$warning-color : #f7c94b;
$danger-color : #f75842;
$danger-variant-color: rgba(247, 88, 66, 0.4);
$white-color : #fff;
$light-color: rgba(255,255,255, 0.7);
$black-color : #000;
$bg-color: #1f2641;
$bg1-color : #2e3267;
$bg2-color : #424890;

$container-width-lg : 76%;
$container-width-md : 90%;
$container-width-sm : 94%;

$trans: all .4s ease;